{% extends 'layouts/base_layout.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <form action="{% url 'change_password' id=2 %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        {% for field in form %}
                        <div class="form-group">
                            {% if field.field.widget.input_type == "checkbox" %}
                            <label>{{ field }} {{ field.label }}</label>
                            {% else %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% endif %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                            {% if field.errors %}
                            <small class="form-text text-danger">{{ field.errors|safe }}</small>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tile-footer">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}