<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Glow Up</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <!-- Page specific styles -->
    {% block styles %}
    {% endblock %}
</head>

{% block fullscreen %}
{% endblock %}

<footer>
    <!-- Essential javascripts for application to work -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap-notify.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery.datetimepicker.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/pace.min.js' %}"></script>
    <!-- Page specific javascripts-->
    {% block scripts %}
    {% endblock %}
</footer>

</html>