{% extends 'layouts/base_layout.html' %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">List of Services</h3>
                {% if perms.app.add_service %}
                <p><a class="btn btn-primary icon-btn" href="{% url 'service_create' %}"><i class="fa fa-plus"></i>Add Service </a></p>
                {% endif %}
            </div>
            <div class="tile-body">
                <table class="table" id="services-table">
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Price</th>
                            <th>Service Category</th>
                            <th>Status</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in list %}
                        <tr>
                            <td>{{ service.service_name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_category }}</td>
                            <td>{{ service.is_active|yesno:"Active,Inactive" }}</td>
                            <td><a class="btn btn-sm btn-outline-secondary" href="{% url 'service_update' id=service.service_id %}">edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $('#services-table').DataTable({responsive: true});
</script>
{% endblock %}

{% block styles %}
<style type="text/css">
    th, td {
        white-space: nowrap;
    }
</style>
{% endblock%}